.meal-list {
	max-width: 75%;
	overflow-x: hidden;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	justify-content: center;
	margin-bottom: 5rem;

	.meal {
		border: 5px solid $primary-blue;
		border-radius: 3px;
		position: relative;
		cursor: pointer;
		max-height: 40rem;
		max-width: 40rem;

		.meal-image {
			max-height: 100%;
			width: 100%;
			object-fit: cover;
		}

		.meal-name {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 5;
			font-size: 2rem;
			font-weight: 700;
			text-transform: uppercase;
			opacity: 0;
			@include trans(opacity, 200ms);
		}

		&::after {
			@include overlay(black, 0);
			@include trans(opacity, 200ms);
		}

		&:hover::after {
			opacity: 0.5;
		}

		&:hover .meal-name {
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1000px) {
	.meal-list {
		max-width: 50%;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 850px) {
	.meal-list {
		max-width: 35%;
		grid-template-columns: repeat(1, 1fr);

		.meal {
			border: 3px solid $primary-blue;
		}
	}
}
